# backend
backend/node_modules/
backend/dist/
backend/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# infra
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.backup
infra/build/
infra/*.tfvars

# misc
.DS_Store
